a
{
	color: #01232B;
	font-family: 'Teko', sans-serif;
}
a:visited
{
	color: #01232B;
  font-family: 'Teko', sans-serif;
}
a:hover
{
	color:  #01232B;
  font-family: 'Teko', sans-serif;
}
a:active
{
	color:  #01232B;
  font-family: 'Teko', sans-serif;
}
