a
{
	color: #01232B;
	font-family: 'Teko', sans-serif;
}
a:visited
{
	color: #01232B;
  font-family: 'Teko', sans-serif;
}
a:hover
{
	color: #006600;
  font-family: 'Teko', sans-serif;
}
a:active
{
	color: #CC0000;
  font-family: 'Teko', sans-serif;
}
